<div class="ui-g">
  <div class="ui-g-12 ui-md-2 ui-lg-2" [hidden]="isResponsiveFlag && !checked">
    <!--<div class="ontop container">
      <div class="row">

      </div>
    </div>-->
    <!--<p-paginator rows="10" totalRecords="totalOrders"  alwaysShow [rowsPerPageOptions]="[10,20,30]"></p-paginator>-->
    <!--Suppliers filter-->
    <div >
      <p-toolbar [style]="{'height':'100%'}">
        <!--<div class="pre-scrollable" style="height:100%;min-height:100%;">-->
          <label> Поставщики </label>
          <p-listbox [options]="suppliersFilter" [(ngModel)]="suppliersFilterSelected" multiple="multiple" checkbox="checkbox" filter="filter"
            (onChange)="onChangeSuppliersFilter($event)" [style]="{'width':'100%'}">
          </p-listbox>
          <p></p>
          <!--Statuses filter-->
          <label> Статусы </label>
          <p-listbox [options]="statusesFilter" [(ngModel)]="statusesFilterSelected" multiple="multiple" checkbox="checkbox" filter="filter"
            (onChange)="onChangeStatusesFilter($event)" [style]="{'width':'100%'}">
          </p-listbox>
          <p></p>
          <!--Customers filter-->
          <label> Клиенты </label>
          <p-listbox [options]="customersFilter" [(ngModel)]="customersFilterSelected" multiple="multiple" checkbox="checkbox" filter="filter"
            (onChange)="onChangeCustomersFilter($event)" [style]="{'width':'100%'}">
          </p-listbox>
        <!--</div>-->
      </p-toolbar>
    </div>
  </div>

  <div [ngClass]="{'ui-g-12 ui-md-10 ui-lg-10': (!isResponsiveFlag || checked)}">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <span [hidden]="!(isResponsiveFlag)">
          <button pButton  icon="fa-bars" (click)="checked=!checked" class="btn btn-primary" style="padding:3.5px 12px">
            <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
          </button>
          <!--<p-toggleButton [(ngModel)]="checked"
          onLabel="&nbsp;" offLabel="&nbsp;" onIcon="fa-bars"  offIcon="fa-bars" [style]="{'float':'left'}"></p-toggleButton>-->
        </span>
        <!--<span [hidden]="isResponsiveFlag">
          <button  type="text" pButton label="Apply filters" icon="fa-filter" iconPos="left" (click)="onApplyFilters()" style="float: left;"></button>
        </span>-->
      </div>
      <div class="ui-toolbar-group-right">
        <div class="ui-helper-clearfix">
          <!--
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float: right;"></button>
          <button type="button" pButton data-clipboard-target="#ordersTable" icon="fa-clipboard" iconPos="left" label="Clipboard" style="float:right;"
            (click)="onCopyToClipboard()"></button>
            -->
          <button type="button" pButton icon="fa-file-excel-o" iconPos="left" label="Excell" (click)="onExcellExport()" style="float:right;"></button>
          <!--<button data-clipboard-target="#ordersTable" label="Copy2Clipboard"></button>-->
          <!--<button class="btn" [cbContent]="'target string'">Copy to clipboard</button>-->

          <!--<div  class="col-sm-4">-->
            <div style="float:right;">{{userName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <!--</div>-->
        </div>
      </div>
    </p-toolbar>
    <!--scrollable="true" scrollHeight="550px"-->
    <!--[rows]="10"-->
    <p-dataTable id="ordersTable" [value]="orders"  [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [(selection)]="selectedOrders" (onRowSelect)="onSelectionChange()"
      (onRowUnselect)="onSelectionChange()" dataKey="Id" [editable]="true" #dt exportFilename="orders" [lazy]="true" [totalRecords]="totalOrders"
      (onLazyLoad)="loadOrdersLazy($event)" [responsive]="true" [stacked]="isResponsiveFlag" [style]="{'width':'100%'}">
      <p-column [style]="{'width':'3%'}" selectionMode="multiple"></p-column>
      <p-column [sortable]="true" field="Id" [style]="{'overflow': 'hidden', 'visible': 'hidden'}" header="Id"></p-column>
      <p-column [sortable]="true" field="Code" [style]="{'white-space': 'nowrap', 'overflow': 'hidden'}"  header="Код"></p-column>
      <p-column [sortable]="true" field="Brand" [style]="{'white-space': 'nowrap', 'overflow': 'hidden'}"  header="Бренд"></p-column>
      <p-column [sortable]="true" [styleClass]="nowrap" [style]="{'width':'20%'}" [style]="{'white-space': 'nowrap', 'overflow': 'hidden'}" field="Name" header="Название"></p-column>
      <p-column [sortable]="true" field="Count" [style]="{'width':'3%'}" header="Кол-во"></p-column>
      <p-column [sortable]="true" field="Price"  [style]="{'white-space': 'nowrap', 'overflow': 'hidden'}" header="Цена" [editable]="true">
        <ng-template let-col let-order="rowData" pTemplate="editor">
          <input type="text" pInputText (keyup.enter)="onPriceChange(order)" [(ngModel)]="order[col.field]"/>
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="PriceVendor" [style]="{'text-align': 'center', 'overflow': 'hidden'}" header="Цена поставщика" [editable]="true" >
        <ng-template let-col let-order="rowData" pTemplate="editor">
          <input type="text" pInputText (keyup.enter)="onPriceVendorChange(order)" [(ngModel)]="order[col.field]"/>
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="CountVendor" [style]="{'white-space': 'nowrap', 'overflow': 'hidden'}"  header="Кол-во у поставщика"></p-column>
      <p-column [sortable]="true" field="DeliveryTime" [style]="{'text-align': 'center', 'overflow': 'hidden'}" header="Время доставки"></p-column>
      <p-column [sortable]="true" field="Status" header="Статус" [editable]="true" [style]="{'white-space': 'nowrap','overflow':'visible', 'width':'6%'}">
        <ng-template let-col let-order="rowData" pTemplate="editor">
          <p-dropdown [(ngModel)]="order[col.field]" [options]="orderStatusesDropBox" [autoWidth]="false" [style]="{'width':'100%'}"
            required="true" (onChange)="onStatusChange(order)">
          </p-dropdown>
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="OrderId" [style]="{'white-space': 'nowrap', 'overflow': 'hidden'}"  header="Id заказа"></p-column>
      <p-column [sortable]="true" field="OrderDate" [style]="{'white-space': 'nowrap', 'overflow': 'hidden'}"  header="Дата"></p-column>
      <p-column [sortable]="true" field="Customer" [style]="{'white-space': 'nowrap', 'overflow': 'hidden', 'width':'10%'}" header="Клиент"></p-column>
      <p-column [sortable]="true" field="Suppliers" [style]="{'white-space': 'nowrap','overflow': 'hidden', 'width':'10%'}" header="Поставщик"></p-column>
      <p-column [sortable]="true" field="Comment" [style]="{'white-space': 'nowrap', 'overflow': 'hidden'}"  header="Ком-рий"></p-column>
    </p-dataTable>
  </div>
</div>